aniso8601==9.0.1
asgiref==3.7.2
bleach==6.1.0
certifi==2023.11.17
chardet==3.0.4
charset-normalizer==3.3.2
crispy-bootstrap3==2022.1
defusedxml==0.7.1
diff-match-patch==20181111
Django==4.2.6
django-crispy-forms==2.1
django-extra-keywords==1.1.2
django-import-export==3.3.1
django-newsletter==0.9.1
django-summernote==0.8.20.0
et-xmlfile==1.0.1
graphene==3.3
graphene-django==3.2.0
graphql-core==3.2.3
graphql-relay==3.2.0
gunicorn==21.2.0
idna==3.6
jdcal==1.4.1
ldif3==3.1.1
MarkupPy==1.14
mysqlclient==1.4.6
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.2
Pillow==10.1.0
promise==2.3
python-card-me==0.9.3
python-dateutil==2.8.2
python-leetcode==1.2.1
pytz==2020.1
PyYAML==5.3.1
requests==2.31.0
six==1.15.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
surlex==0.2.0
tablib==3.5.0
text-unidecode==1.3
unicodecsv==0.14.1
urllib3==2.1.0
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
