{% extends 'decodeschool/base_train.html' %}
{% load static %}
{% block seo %}

<link rel="canonical" href="https://decodeschool.com/" />

  	<title>Ramesh P Natarajan | Decode School | Technology Trainer | Online Training</title>
   
    <meta name="description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts."/>
   
	<meta property="og:title" content="Ramesh P Natarajan | Decode School | Technology Trainer | Online Training">
	<meta property="og:site_name" content="Decode School">
	<meta property="og:url" content="https://www.decodeschool.com/">
	<meta property="og:description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts.">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{%static 'assets/images/banner1.jpg' %}" />
	<meta property="og:image:width" content="448" /> 
	<meta property="og:image:height" content="304" />




{% endblock %}

{% block content %}
<section class="blog-list px-3 my-2 py-2">
	<div class="container">

		<div class="col-lg-12">

            
            <div class="row mt-3">
                <div class="col-lg-6 center-block">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" height="150px;" src="{% static 'assets/images/python.png' %}" alt="Python Programming and Logic Building">
                        <div class="card-body">
                          <h5 class="card-title">Python Programming and Logic Building</h5>
                          <p class="card-text text-justify">Python is Popular Programming Language to build Web, AI, Data Science and IoT Applications. As the name mentions, my training focuses on Logic building, not just syntax.</p>
                        </div>
                     
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"></li>
                          <li class="list-group-item">Python Basics</li>
                          <li class="list-group-item">Logic Building</li>
                          <li class="list-group-item">Decision and Looping</li>
                          <li class="list-group-item">Data Structures</li>
                          <li class="list-group-item">Files and Databases</li>
                          <li class="list-group-item">OOPS using Python</li>

                        </ul>
                        
                      </div>
                    
                </div>



                <div class="col-lg-6 mt-2 center-block">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" height="150px" src="{% static 'assets/images/django.png' %}" alt="Python Programming and Logic Building">
                        <div class="card-body">
                          <h5 class="card-title">Web Development using Python</h5>
                          <p class="card-text text-justify">Django is Python based Web Framework, which simplifies your Web Application Development. My Training Focuses on Modern methods in Web Development. </menu> </p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"></li>
                          <li class="list-group-item">Python</li>
                          <li class="list-group-item">Django</li>
                          <li class="list-group-item">Ajax</li>
                          <li class="list-group-item">HTML, CSS and JS</li>
                          <li class="list-group-item">REST API</li>
                          
                        </ul>
                        
                      </div>
                    
                </div>

            </div>
            
    
           
            <div class="row m-3">
                <div class="col-lg-6">
                    <h5>Features</h5>
                    <ul>
                        <li>Free Demo Session</li>
                        <li>Intergrated Project</li>
                        <li>Training by Experienced Developer</li>
                    </ul>

                </div>
                <div class="col-lg-6">
                    <h5>Recent Projects in Python</h5>
                    <ul>
                        <li><a href="http://myboon.org">My BooN</a></li>
                        <li><a href="http://skillcrayons.com">Skill Crayons</a></li>
                        <li>CRM</li>
                    </ul>
                </div>
            
                
            </div>
      </div>

    <div class="row text-center">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
           <strong>
            <a href="mailto:admin@decodeschool.com">mail to: admin@decodeschool.com </a></br>
            <a href="tel:+919952294298">Dial : +91 9952294298</a>
           </strong>
            <p class="text-center mt-3">
                
           **** Dreams have Duties ****
            </p>
        </div>
        <div class="col-lg-3">

        </div>
        
    </div>




        </div>
    </div>
</section>


{% endblock %}