{% extends 'decodeschool/base.html' %}
{% load static %}
{% block seo %}

<link rel="canonical" href="https://decodeschool.com/" />

  	<title>Ramesh P Natarajan | Decode School | Technology Trainer | Online Training</title>
   
    <meta name="description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts."/>
   
	<meta property="og:title" content="Ramesh P Natarajan | Decode School | Technology Trainer | Online Training">
	<meta property="og:site_name" content="Decode School">
	<meta property="og:url" content="https://www.decodeschool.com/">
	<meta property="og:description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts.">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{%static 'assets/images/banner1.jpg' %}" />
	<meta property="og:image:width" content="448" /> 
	<meta property="og:image:height" content="304" />




{% endblock %}

{% block content %}
<section class="blog-list px-2 my-3 py-2 p-md-3">
	<div class="container">

		<div class="col-lg-12">
            
            <div class="row m-2">
                <h1>Ramesh P Natarajan</h1>
                <p>I&rsquo;m a passionate Software Developer, Researcher and Technology Trainer from, India. I have 11 years of Experience in Software Development and Technology Training. Currently working at Development & Training division in <a href="https://karpagamtech.ac.in">Karpagam Tech.</a></p>
            </div>
            
            <h5>Education:</h5>
            <div class="row m-2">
                <ul>
                    <li>M. Tech Mainframe Technology, Anna University, Chennai.</li>
                    <li> B. E. Computer Science and Engineering, Coimbatore Institute of Engineering and Technology, Coimbatore.</li>
                </ul>    
                
                        

            </div>
           
            <h5>Technical Expertise:</h5>
            <div class="row m-2">
                       
            <table class="table table-bordered">
                    
                    <tr>
                        <td rowspan="2">
                                Programming Languages
                        </td>
                        <td>
                                Proficient Knowledge
                        </td>
                        <td>
                            Python, Java and C
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Working Knowledge
                        </td>
                        <td>
                            VB.Net, C#.Net and Php
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Web Framework
                        </td>
                        <td colspan="2">
                            Django, REST API and Ajax
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Front End Scripting
                        </td>
                        <td colspan="2">
                            HTML, CSS and JS
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data Science
                        </td>
                        <td colspan="2">
                                Numpy, Pandas and Scikit-learn
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Concepts
                        </td>
                        <td colspan="2" width="308">
                                Data Structures, Algorithms, Data Base and Operating Systems
                        </td>
                    </tr>
                
                </table>

            </div>

    <h5>Research Interests:</h5>
    <div class="row m-2">
        
            
            <ul>
                    <li>Data Mining and Data Science</li>
            </ul>
    </div>
    
    <h5>Recent Projects:</h5>
    <div class="row m-2">
            
            <ul>
                <li><a href="http://myboon.org">My BooN</a></li>
                <li><a href="http://skillcrayons.com">Skill Crayons</a></li>
                <li>CRM</li>
            </ul>
    </div>

    
    
   
    
    

    <div class="row text-center">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <p class="text-center">
           **** Dreams have Duties ****
            </p>
        </div>
        <div class="col-lg-3">

        </div>
        
    </div>




        </div>
    </div>
</section>


{% endblock %}