{% extends 'decodeschool/base.html' %}
{% load custom_tags %}
{% load static %}

{% block seo %}

	<link rel="canonical" href="https://decodeschool.com/{{program.chapter.course.slug}}/{{program.chapter.slug}}/{{program.slug}}" />

  	<title>{{program.program_title}} | {{program.chapter.course.course_title}} | Decode School</title>
   
    <meta name="description" content="Using this example you will learn {{program.program_title}}"/>
   
	<meta property="og:title" content="{{program.program_title}} | {{program.chapter.course.course_title}} | Decode School">
	<meta property="og:site_name" content="Decode School">
	<meta property="og:url" content="https://decodeschool.com/{{program.chapter.course.slug}}/{{program.chapter.slug}}/{{program.slug}}">
	<meta property="og:description" content="Using this example you will learn {{program.program_title}}">
	<meta property="og:type" content="article">
	{% if program.featured_image %}
		<meta property="og:image" content="https://decodeschool.com/media/{{program.featured_image}}" />

	
	{% elif program.chapter.featured_image %}
		<meta property="og:image" content="https://decodeschool.com/media/{{program.chapter.featured_image}}" />

	{% else %}
		<meta property="og:image" content="https://decodeschool.com/media/{{program.chapter.course.featured_image}}" />

	{% endif %}
		<meta property="og:image:width" content="448" /> 
	<meta property="og:image:height" content="304" />
	

{% endblock %}
{% block content %}


	<div class="entity_title">
		<h1>{{program.program_title}}</h1>
	</div>
	 
	<div class="entity_content">
					
		<p>{{program.program_description|safe}}</p>

		

		{% if program.raptor_file %}
			<h4>Flow Chart Design</h4>
			<img class="img-responsive" src="{{program.raptor_file.url}}" alt="{{program.program_title}} Flow Chart">

		{% endif %}

		<h4>Try your Solution</h4>
		<p>Strongly recommended to Solve it on your own, Don't directly go to the solution given below.</p>

		{% if program.chapter.course.course_title == "C Programming" or program.chapter.course.course_title == "Logic Building in C" %}
		<div data-pym-src='https://www.jdoodle.com/plugin' data-language="c" data-version-index="5">
#include&lt;stdio.h&gt;
int main()
{
	//write your code here
}
    			
  		</div>

		{% elif program.chapter.course.course_title == "Python Programming" or program.chapter.course.course_title == "Python Logic Building" %}

		<div data-pym-src='https://www.jdoodle.com/plugin' data-language="python3" data-version-index="4">
#write your code here
		</div>

		{% elif program.chapter.course.course_title == "Java Programming" or program.chapter.course.course_title == "Problem Solving using Java" %}

		<div data-pym-src='https://www.jdoodle.com/plugin' data-language="java" data-version-index="4" data-libs="mavenlib1, mavenlib2">
public class Hello
{
	public static void main(String args[])
	{
			//Write your code here	   
	}
}
					
		</div>

		{% endif %}

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5181933327362047"
crossorigin="anonymous"></script>
<!-- Rsidebar -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5181933327362047"
data-ad-slot="2089501518"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

		<h4>Program or Solution</h4>
		<code>
			<pre>
				{% if program.solution_path == None %}
				
					{{program.solution|safe}}
								
				{% else %}
			
					{{program.solution_path|read_file}}
			
				{% endif %}
			</pre>

		</code>

		
					
		{% if program.output_file %}
			<h4>Output</h4>
			<img class="img-responsive" src="{{program.output_file.url}}" alt="{{program.program_title}} Output">

		{% endif %}
		
								
		<h4>Program Explanation</h4>

				
		{{program.explanation|safe}}
		
	</div>		    
				    
			    <nav class="blog-nav nav nav-justified mb-2">
					{% if prev %}
				    	<a class="btn btn-primary" href="{% url 'program_detail' course=prev.chapter.course.slug chapter=prev.chapter.slug program=prev.slug %}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
					{% endif %}
					{% if next %}
						<a class="btn btn-primary" href="{% url 'program_detail' course=next.chapter.course.slug chapter=next.chapter.slug program=next.slug %}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
					{% endif %}
				</nav>

	
				
	<h4>Comments</h4>
				<p style="color:red">{{message}}</p>

				{% for comment in program.comment_program_set.all %}
					<div class="row" style="padding-top:10px">
						<h5>{{comment.commented_by}}</h5>
						{{comment.comment}}
					</div>
					
				{% endfor %}
				<form method="post" style="margin-top:30px">
					{% csrf_token %}
					{{c_form.as_p}}
					<input type="submit" style="float:right; margin-right:100px;">
				</form>				
		
		   
	    
{% endblock %}

{% block addon %}
	<div class="col-md-6">
       
	</div>
	<div class="col-md-6">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5181933327362047"
crossorigin="anonymous"></script>
<!-- Rsidebar -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5181933327362047"
data-ad-slot="2089501518"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
				

                
	<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>  
		
{% endblock %}		
	    
{% block right%}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5181933327362047"
crossorigin="anonymous"></script>
<!-- Rsidebar -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5181933327362047"
data-ad-slot="2089501518"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="category_article_body">   
	
	<h4>Related Programs</h4>
	<ul>
		{% for prog in program.chapter.program_set.all %}
			{% if prog.id != program.id %}
				   <li><a href="{% url 'program_detail' course=prog.chapter.course.slug chapter=prog.chapter.slug program=prog.slug %}">{{prog.program_title}}</li></a>
					
			{% endif %}
		{% endfor %}
	</ul>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5181933327362047"
crossorigin="anonymous"></script>
<!-- Rsidebar -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5181933327362047"
data-ad-slot="2089501518"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endblock %}
