{% extends 'decodeschool/base_train.html' %}
{% load static %}
{% block seo %}

<link rel="canonical" href="https://decodeschool.com/" />

  	<title>Ramesh P Natarajan | Decode School | Technology Trainer | Online Training</title>
   
    <meta name="description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts."/>
   
	<meta property="og:title" content="Ramesh P Natarajan | Decode School | Technology Trainer | Online Training">
	<meta property="og:site_name" content="Decode School">
	<meta property="og:url" content="https://www.decodeschool.com/">
	<meta property="og:description" content="Learn Programming and Problem Solving with decode school Programming Examples and Posts.">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{%static 'assets/images/banner1.jpg' %}" />
	<meta property="og:image:width" content="448" /> 
	<meta property="og:image:height" content="304" />




{% endblock %}

{% block content %}
<section class="blog-list px-3 my-2 py-2">
	<div class="container">

		<div class="col-lg-12">

            
            <div class="row mt-1 pl-5 pb-5 text-center">
            
            <h2> Trainee Verification </h2>
            
               
                <div class="col-lg-12 ml-5 center-block">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" height="150px" src="{% static 'assets/images/django.png' %}" alt="Python Programming and Logic Building">
                        <div class="card-body">
                          <h5 class="card-title">Web Development using Python</h5>
                          <p class="card-text text-justify"></menu> </p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><b>CLEMENT DB</b></li>
                          <li class="list-group-item">28 NOV 2019</li>
                          <li class="list-group-item">Django & Allied Technologies</li>
                          <li class="list-group-item" style="color:green">Verified</li>
                          
                          
                        </ul>
                        
                      </div>
                    
                </div>

            </div>
            
    
           
           
      </div>

    <div class="row text-center">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
           <strong>
            <a href="mailto:admin@decodeschool.com">mail to: admin@decodeschool.com </a></br>
            <a href="tel:+919952294298">Dial : +91 9952294298</a>
           </strong>
            <p class="text-center mt-3">
                
           **** Dreams have Duties ****
            </p>
        </div>
        <div class="col-lg-3">

        </div>
        
    </div>




        </div>
    </div>
</section>


{% endblock %}